<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25"> <!--Percent screen-->
        <mat-toolbar color="primary">Escoger Modo de Juego</mat-toolbar>
        <form flexLayoutAlign="stretch" fxLayout="column" class="login-form">
            <button mat-raised-button (click)= 'play()' class="mt-5" color="warn" style="margin-top: 5px;">Jugar solo</button>
            <button mat-raised-button (click) = "openDialog()"  class="mt-5" color="accent" 
            style="margin-top: 5px;">Generar Link</button>
            <button mat-raised-button (click) = "openDialogInsertLink()"  class="mt-5" color="primary" 
            style="margin-top: 5px;">Ingresar Link</button>
        </form>
    </mat-card>
</div> 